
* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #102146;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul.menu {
    list-style: none;
    display: flex;
}

nav ul.menu li {
    margin-right: 20px;
}

nav ul.menu li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #005a8d;
    font-weight: bold;
}

nav ul.menu li a {
    position: relative;
    text-decoration: none;
    color: #102146;
}

nav ul.menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #102146;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

nav ul.menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.contact-form-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-form {
    padding: 20px;
}

.contact-form h1 {
    font-size: 24px;
    color: #00205b;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #00205b;
}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border-color: #00205b;
    box-shadow: 0 0 5px rgba(0, 32, 91, 0.5);
}


button[type="submit"] {
    background-color: #00205b;
    color: #fff;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #001535;
}

.form-group-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group-address label {
    font-weight: normal;
    color: #00205b;
}

.form-group-address input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}

.form-group-address input[type="text"]:focus {
    border-color: #00205b;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 175px;
    height: auto;
}

.footer-links {
    display: flex;

}

.footer-link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.link-separator {
    color: #000;
    font-size: 14px;
    margin-right: 10px;
}


.footer-social {
    display: flex;
    align-items: right;
}

.social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
}

.social-separator {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}